.smart-analog-clock {
  border-radius: 100%;
  background: linear-gradient(-180deg, black 70%, #e3e1e6 12%);
  border: 5px solid white;
  box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.inner-circle {
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}